#navBarFrame {
    width: 100%;
    height: 100%;
    border-style: hidden;
}

#main   
{
    background-color: #23272a; /* For browsers that do not support gradients */
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;

    /*background-image: linear-gradient(0deg, #706677, #565264);*/
}

.navagationBar
{
    position: relative;
    background-color: #7289da;

    height: auto;

    margin: 0;

    width: 130px;
    padding-bottom: 5px;

    border-radius: 10px;
}

.navagationBar img {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px;
}

.navagationBar button {
    font-family: 'Open Sans', sans-serif;

    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;

    display: block;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 5px;
    padding-top: 5px;

    border-radius: 5px;
    border-style: hidden;
    outline: 0px;

    width: 120px;

    background-color: #7289da;
    color: #ffffff;
}

.navagationBar button:hover {
    background-color: #9fb0ed;
}

.pDdC {
    display: none;
    position: relative;
}

.pDdC a {
    background-color: #7289da;
    color: #ffffff;
    
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 5px;
    border-style: hidden;
}

.sDdC {
    display: none;
    position: relative;
}

.sDdC a {
    background-color: #7289da;
    color: #ffffff;
    
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 5px;
    border-style: hidden;
}

.show {
    display: block;
}

