.body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #23272a; /* For browsers that do not support gradients */
    /*background-image: linear-gradient(0deg, #706677, #565264);*/
}

.navagationBar
{
    position: relative;
    background-color: #7289da;

    height: auto;

    margin: 0;

    width: 110px;
    padding-bottom: 5px;

    border-radius: 10px;
}

.navagationBar img {
    margin-left: auto;
    margin-right: auto;

    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px;

    display: block;
}

.navagationBar button {
    display: block;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 5px;
    padding-top: 5px;

    border-radius: 5px;
    border-style: hidden;
    outline: 0px;

    width: 100px;

    background-color: #7289da;
    color: #ffffff;
}

.navagationBar button:hover {
    background-color: #9fb0ed;
}