#main
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #23272a; /* For browsers that do not support gradients */
    
    /*background-image: linear-gradient(0deg, #706677, #565264);*/
}

#tetris {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}